@model POS.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    Layout = "~/Views/Account/_Layout.cshtml";
}
<!--begin::reset password form-->
<div class="reset-password">
    <div class="mb-20">
        <h3>@ViewBag.Title</h3>
        <p class="opacity-60 font-weight-bold">Reset your password.</p>
    </div>

    @using (Html.BeginForm("ResetPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Code)

        <div class="form-group">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control h-auto text-white placeholder-white opacity-70 bg-dark-o-70 rounded-pill border-0 py-4 px-8 mb-5", @placeholder = "Email", @name = "username" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control h-auto text-white placeholder-white opacity-70 bg-dark-o-70 rounded-pill border-0 py-4 px-8 mb-5", @type = "password", @placeholder = "Password", @name = "password" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>

        <div class="form-group text-center mt-10">
            <input type="submit" class="btn btn-pill btn-outline-white font-weight-bold opacity-90 px-15 py-3" value="Reset" />
        </div>
    }
</div>
<!--end::reset password form-->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
